---
config_dir: '~'

# Docker group
docker_group: docker

# proxy vars
network: proxy

# portainer
portainer_enable: false

# Mysql vars
proxy_with_mysql: false
mysql_root_password: npm
mysql_database: npm
mysql_user: npm
mysql_password: npm
mysql_host: mysql
